<h1>Poker Hands</h1>
<p><i>Using the best CSS styling you've ever seen.</i></p>
<button (click)="newGame()">Click Me!</button>
<div>
  <!-- each player SHOULD be its own component -->
  <div>
    <h4>Dummy Hand One</h4>
    <div *ngFor="let card of dummyHandOne">
        {{CardValue[card.value]}}
        {{CardType[card.type]}}
    </div>
    <h4>Dummy Hand Two</h4>
    <div *ngFor="let card of dummyHandTwo">
        {{CardValue[card.value]}}
        {{CardType[card.type]}}
    </div>
  </div>
  <div>
    <h4>Result</h4>
    {{winMessage}}
  </div>
</div>